<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Модели в Django</title>
</head>
<body class="container">
<form method="POST">
    {% csrf_token %}
    <p><label/>Бренд: {{tech.brand}} Модель: {{tech.model}} Тип ноутбука: {{tech.tp}} Процессор: {{tech.cpu}} Тип видеокарты: {{tech.gpu}}> Количество оперативной памяти: {{tech.ram}}ГБ<label/>
    </p>
    <p><label>Аудиторию</label>
            <select name="au">
                <option value="401"> 401</option>
                <option value="402">402</option>
                <option value="403">403</option>
                <option value="404">404</option>
                <option value="405">405</option>
                <option value="435"> 435</option>
                <option value="436">436</option>
                <option value="437">437</option>
                <option value="438">438</option>
                <option value="439">439</option>
                </select><label>Выберите ответветственное лицо </label>
            <select name="person">
                <option value="А.И. Исакова">А.И. Исакова</option>
                <option value="С.М. Алферов">С.М. Алферов</option>
                <option value="А.А. Шелестов">А.А. Шелестов</option>
                 <option value="А.К. Лукьянов">А.К. Лукьянов</option>
                <option value="А.Я Суханов">А.Я Суханов</option>
                <option value="Е.Б. Грибанова">Е.Б. Грибанова</option>
                <option value="С.Л. Миньков">С.Л. Миньков</option>
                </select></p>
    <p><label>Выберите состояние </label>
            <select name="state">
                <option value="Исправен">Исправен</option>
                <option value="Не исправен">Не справен</option>
                <option value="В ремонте">В ремонте</option>
                </select><label>Укажите срок амортизации </label><input type="text" required min="1" name="term" value="{{tech.term}}"//></p>
                <input type="submit" value="Внести" >

</form>
</body>
</html>